{% extends 'base.html' %}
	{% block content %}
	<style>
		a.knopka {
	position: absolute;
	top: 30%;
	left: 40%;
	display: block;
	width: 20em;
	height: 1,5em;
	text-align: center;
	color: #000; 
	text-decoration: none; 
	user-select: none; 
	background: rgb(212,75,56); 
	background-size: 100%, 100%, auto;
	padding: .7em 1.5em; 
	outline: none; 
} 
a.knopka:hover { background: rgb(232,95,76); } 
a.knopka:active { background: rgb(152,15,0); } 
a.knopka2 {
	position: absolute;
	top: 40%;
	left: 40%;
	display: block;
	width: 20em;
	height: 1,5em;
	text-align: center;
	color: #000; 
	text-decoration: none; 
	user-select: none; 
	background: rgb(212,75,56); 
	background-size: 100%, 100%, auto;
	padding: .7em 1.5em; 
	outline: none; 
} 
a.knopka2:hover { background: rgb(232,95,76); } 
a.knopka2:active { background: rgb(152,15,0); } 
a.knopka3 {
	position: absolute;
	top: 50%;
	left: 40%;
	display: block;
	width: 20em;
	height: 1,5em;
	text-align: center;
	color: #000; 
	text-decoration: none; 
	user-select: none; 
	background: rgb(212,75,56); 
	background-size: 100%, 100%, auto;
	padding: .7em 1.5em; 
	outline: none; 
} 
a.knopka3:hover { background: rgb(232,95,76); } 
a.knopka3:active { background: rgb(152,15,0); } 
		
	</style>
	<form>
   
    <a href="{% url 'SearchAnime' %}" class="knopka">Аниме</a>
	</form>

	<form>
		<a href="{% url 'SearchManga' %}" class="knopka2">Манга</a>
	</form>
	<form>
		<a href="{% url 'Game' %}" class="knopka3">Типо игры</a>
	</form>
    {% endblock %}